// overwrite variables here
$background: yellow;
$primary: #f0df45;
$secondary: orange;
$success: #46b04d;
$warning: #c2322d;
$dark-blue: orange;
$light-grey: rgb(235, 235, 235);
$mid-grey: rgb(105, 105, 105);
$dark-grey: rgb(50, 50, 50);

$font-family-base: "Tahoma", sans-serif;

$navbar-brand-font-size: 2rem;
$nav-link-font-size: 1.25rem;

// variables go above this import
// custom styles go below this import
@import "~bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-weight: 700;
  text-transform: capitalize;
}

.card-title,
.card-subtitle {
  color: black;
}

.btn {
  color: white;
}

.navbar {
  background-color: $orange;
  z-index: 9999;
}

.navbar-brand {
  font-family: "Tahoma", sans-serif;
  color: rgba(19, 2, 255, 0.288);
  text-align: justify;
}

.social-icons {
  width: 20%;
}

#search {
  
  text-align: center;
  background: url("./assets/images/orlando-fl.jpg");
  color: grey;
  width: 100%;
  height: 70vh;
  text-align: center;
  background-size: cover;
  background-position: top 43% right 22%;

  div {
    background-color: $dark-blue;
    color: $yellow;
    
    
    

    h2 {
      color: $dark-grey;
      font-size: 1.5rem;
      line-height: 1.25;
      margin: 5px 0;
    }

    p {
      font-size: 1rem;
    }

    .input-group {
      flex-direction: column;
      padding: 0;

      .form-control {
        width: 100%;
        border-radius: 0.25rem;
      }

      .input-group-append {
        padding: 0.5rem 0;

        .btn {
          width: 100%;
        }
      }
    }
  }
}



  h2 {
    font-size: 2rem;
    line-height: 1.25;
    margin: 5px 0;
  }

  p {
    font-size: 1rem;
    width: 100%;
    color: white;
    margin: 0 auto;
  }


#results {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .results-container {
    height: 50%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card-deck {
      display: flex;
      flex-wrap: wrap;
    }

    .event-card {
      width: 100%;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .event-img {
        width: 30%;
      }
    }
  }

  .results-map-container {
    height: 40%;
  }
}

// create event page
#create {
  background-color: $yellow;
  color: $dark-grey;
  border-radius: 20px;
  padding: 20px;

  h1 {
    color: $dark-blue;
    line-height: 1.25;
    margin: 10px 0;
    text-align: left;
  }

  p {
    font-size: 1rem;
    text-align: center;
  }

  .create-btn {
    width: 100%;
  }

  textarea {
    resize: none;
  }
}

// profile page
#profile {
  div {
    background-color: $yellow;
    color: $dark-grey;
    border-radius: 100px;
    padding: 50px;

    .user-image {
      width: 100%;
    }

    h1 {
      color: $dark-grey;
      line-height: 1.25;
      margin: 5px 0;
    }

    h2 {
      color: $dark-grey;
      line-height: 1.25;
      margin: 5px 0;
    }
    h3 {
      color: $dark-grey;
      line-height: 1.25;
      margin: 5px 0;
    }

    .toggle {
      border: none;
    }
    .card-body {
      background-color: orange;
    }
  }
  .card {
    border: 0;
  }
}

#event {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: $orange;
  padding: 60px;
  border-radius: 60px;

  .event-details {
    flex-direction: column;
    align-items: left;
    text-align: left;

    .event-img {
      border-radius: 20px;
    }

    h2 {
      font-size: 2rem;
      color: $dark-blue;
    }

    .event-info {
      font-size: 1rem;
      color: $mid-grey;
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      margin: 0.5rem 0;

      .event-icons {
        margin: 0px 7px;
      }
    }

    p {
      font-size: 1.25rem;
      margin: 1rem 0;
    }
  
    h5 {
      color: black;
    }
  
    .btn {
      width: 100%
    }
  }

  .event-comments {
    width: 100%;

    h3 {
      color: black;
    }

    .btn {
      width: 100%;
    }
    textarea {
      resize: none;
    }
  }
}

#attendance-list {
  .card-deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

#login, #signup {
  background-color: $blue;
  height: 1000px;
  width: 1500px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: orange;
  padding: 20px;

  h2 {
    color: $dark-blue;
    font-size: 2.5rem;
  }
}

.signup-btn:hover, .login-btn:hover {
  a {
    color: black;
  }
}

.comment-info {
  font-size: 0.8rem;
  color: $mid-grey;
}

// breakpoints for small devices
@media (min-width: 576px) {
  #search {
    div {
      padding: 2.5rem;

      h2 {
        font-size: 2.25rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  #about {
    h2 {
      font-size: 2.25rem;
    }

    p {
      font-size: 1.15rem;
    }
  }

  #event {
    .event-details {
      .event-info {
        font-size: 0.9rem;
      }
    }
  }
}

// breakpoints for medium devices
@media (min-width: 768px) {
  #search {
    height: 60vh;
    background-position: bottom;
    
    div {
      .input-group {
        flex-direction: row;
        flex-wrap: nowrap;

        .form-control {
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
        }

        .input-group-append {
          padding: 0;

          .btn {
            width: 100px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }

  #about {
    p {
      width: 600px;
    }
  }

  #event {
    .event-details {
      flex-direction: row;
      text-align: left;

      .event-info {
        font-size: 0.9rem;
        color: $mid-grey;
        justify-content: flex-start;

        .geo-icon {
          margin-left: 0;
        }
      }
    }  
  }

  #attendance-list {
    padding: 0;
    .card-deck {
      justify-content: flex-start;
      text-align: left;
    }
  }

  #results {
    .row {
      justify-content: center;
        .event-card {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
    
          .event-img {
            width: 40%;
          }
        }
      

      .results-map-container {
        height: 50%;
      }
    }
  }
}

// breakpoints for large devices
@media (min-width: 992px) {
  #search {
    height: 70vh;
    background-position: center;
    div {
      padding: 3rem;

      h2 {
        font-size: 3.5rem;
      }

      p {
        font-size: 2rem;
      }

      .input-group {
        width: 600px;
        margin: 0 auto;
      }
    }
  }

  #about {
    h2 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  #event {
    width: 75%;

    .event-details {
      width: 100%;

      .event-info {
        .geo-icon {
          margin-left: 7px;
        }
      }

      .btn {
        width: 150px;
      }
    }

    .event-comments {
      width: 100%;

      .btn {
        width: 150px;
      }
    }
  }

  #results {
    .row {
      justify-content: center;

      .results-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
        .event-card {
          width: 425px;
          height: 500px;
          margin-right: 1rem;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
    
          .event-img {
            width: 100%;
          }
        }
      }

      .results-map-container {
        height: 100%;
      }
    }
  }

  #profile {
    .user-image {
      width: 60%;
    }
  }
}

// extra large devices
@media (min-width: 1200px) {
  #profile {
    .user-image {
      width: 50%;
    }
  }
}
